@use '../framework' as *;

$color-base: (
	'black': #0f0,
);

$breakpoint-config: (
	's': 700px,
	'm': 900px,
	'l': 950px,
	'xl': 1000px,
	'xxl': 1600px,
	'xxxl': 1800px,
);

$color-mode-default: 'light';

$color-palettes: (
	'copytext': (
		light: (
			color: #00f0ff,
		),
		dark: (
			color: #fff,
		),
	),
	'background': (
		light: (
			background: #fff,
		),
		dark: (
			background: #000,
		),
	),
	'link': (
		light: (
			color: (
				'default': #00f0ff,
				':hover': #f0f,
			),
		),
		dark: (
			color: (
				'default': #fff,
				':hover': #f0f,
			),
		),
	),
	'li': (
		light: (
			color: 'black',
			background: #ff0f00,
		),
		dark: (
			background: #fff,
		),
	),
);

$default-unit-type: 'absolute';

@include declare-color-map;
@include declare-color-modes;

p {
	display: block;
	padding: 15px;
	color: color('black');
}

.link {
	@include color-palette('link');
}

.background {
	display: block;
	padding: 15px;
	@include color-palette('background');
}

.li {
	@include color-palette('li');
}
