<header class='header'>

	<a href='/'>
		<img src='/assets/img/logo.png' alt='SCSS Framework Documentation' />
	</a>

	<h1 class='header__name'>SCSS Framework Documentation</h1>

	<ul class='header__navigation'>
		<li>
			<a href='/grid' class='header__navigation-link' title='Grid'>Grid</a>
		</li>
		<li>
			<a href='/theme' class='header__navigation-link' title='Theme'>Theme</a>
		</li>
		<li>
			<a href='/view' class='header__navigation-link' title='View'>View</a>
		</li>
		<li>
			<a href='/utils' class='header__navigation-link' title='Utils'>Utils</a>
		</li>
	</ul>

</header>