.header {
	display: flex;
	padding: 16px;
	background: #0a0a0a;
}

.header__name {
	display: block;
	color: #fff;
}

.header img {
	width: 90px;
}

.footer {
	display: block;
	padding: 16px;
	background: #0a0a0a;
}

.footer img {
	width: 24px;
}
